# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/src/helpers/subidaAfirebase.js
/src/components/DatosAFire.jsx

/src/data

/src/helpers/fetchDatosAutor.js
/src/helpers/fetchDatosCarousel.js
/src/helpers/fetchDatosCategorias.js
/src/helpers/fetchDatosSagas.js
/src/helpers/fetchDatosSagasTodas.js

/src/components/Faq



