body {
    font-family:'Nunito',sans-serif;
}
.navbar {
    background-color:#101010;
}
.nav-link {
    color:#7fffd4;
}
.bienvenidos {
    text-align:center;
    margin-top:30px;
}
.cart-widget {
    width:30px;
}

.cart-amount {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: red;
    border-radius: 50%;
    font-size:0.8em;
    width:20px;
    height:20px;
    text-align: center;
}
.nav-img {
    max-height:60px;
}